# Data types

- Python can say data type of the value with out intializing
- which means the data type automatically consider
- Python has some inbuilt datatype structure
- int : integer
- float 
- str : String 
- bool: boolean 
- complex
- list
- tuple
- dict : dictionary
- set 
- frozenset
- bytes
- bytearray
- memoryview

**integer**

In [6]:
num=100
type(num)

int

In [8]:
print(num)

100

In [10]:
# we have numerical language
# age = 20
# distance =20
# salary=20000
# mars
# mars == earch
# how old are you = 7 years
# earth === > marks
# ob111

**binary number system**
- digits: 0, 1,2,3,4,5,6,7,8,9

- binary : bi means two : 0 and 1

- representation is : 0b001,0b111,0b101

- wrong representation is : 0b102

In [16]:
0b111

7

In [18]:
0b10101

21

In [20]:
0B1010

10

In [ ]:
2^2 =4 2^1=2 2^0=1  
0        0     0    
0        0     1
0        1     0
0        1     1
1        0     0
1        0     1
1        1     0
1        1     1

In [24]:
0b1100,0b1110

(12, 14)

**Octal number system**

- digits: 0, 1,2,3,4,5,6,7,8,9

- Octal : Octal means 8 : 0,1,2,3,4,5,6,7

- representation is : 0o567,0o123,0o765

- wrong representation is : 'o' as start, 0o789

In [32]:
4224^8

4232

In [38]:
0o4224

2196

In [43]:
0o5421

2833

In [47]:
0o1736

990

**Hexa number system**

- digits: 0, 1,2,3,4,5,6,7,8,9

- Hexa : hexa means 16 : 0,1,2,3,4,5,6,7,8,9,A=10,B=11,C=12,D=13,E=14,F=15

- representation is : 0X567,0X123,0Xabc

- wrong representation is : 'o' as start, 0h67

In [50]:
0x123

291

In [52]:
0xabc

2748

**float**

- float numbers means continues points
- float numbers means having some decimals
- integer number means discrete points

In [55]:
number=100.25
type(number)

float

- float points can represent as exponetial **e**

In [73]:
1e1 # 1*10
1e2 # 1*100
1e3 # 1*1000

1000.0

In [62]:
2e2 # 2*100

200.0

In [77]:
print(1e1) #1*10
print(1e2) #1*100
print(1e+3) #1*1000

10.0
100.0
1000.0

In [79]:
1e+1,1e+2,1e+3

(10.0, 100.0, 1000.0)

In [83]:
print(1e-1) # 1/10
print(1e-2) # 1/100
print(1e-3) # 1/1000

0.1
0.01
0.001

**Strings**

- Strings means english characters

In [93]:
name="Python"
type(name)

str

In [95]:
number='10'
type(number)

str

In [97]:
sen1="Hello I like 'python'"
print(sen1)

Hello I like 'python'

In [106]:
sen2='Hello I like "python"'
print(sen2)

Hello I like "python"

- Entire sentence in single quotes, then use double quotes to highlite the word
- Entire sentence in double quotes, then use single quotes to highlite the word

In [110]:
name='python'
name

'python'

In [112]:
print(name)

python

In [114]:
name1= 'Python'
name2= 'naresh'
print(name2)
print(name1)

naresh
Python

In [ ]:
hello good morning
how are you with out \n

In [119]:
Statements="""Hello I like 'Python'
           hai good morning
           today class data types"""
print(Statements)

Hello I like 'Python'
           hai good morning
           today class data types

**Doc String**

- If we want to convey information to the user
- we will write a statements before coding part 
- is called as Doc string
- In jupyter notebook to convey information we have **markdown**
- But in VScode we don't have a markdown option 
- we convey the information by using **triple quotes**
- If we see anywhere triple quotes means the user trying to convey the information

In [123]:
"""
  write something
  """

'''
   write something
   '''

'\n   write something\n   '

**Boolean**

In [126]:
value=True
type(value)

bool

In [128]:
true='True'
true=True
true=10