# Print Statements

In [2]:
num1=30
num2=30
num1
num2

30

In [6]:
num1=30
num2=20
print(num1)
print(num2)

30
20

In [12]:
num1=40
num2=45
print(num1),print(num2)
num1,num2

40
45

(40, 45)

In [10]:
num1=30
num2=20
print(num1,num2)

30 20

In [17]:
num1=30
num2=20
num1,num2

(30, 20)

In [19]:
num1=30
num2=20
print(num1)
print(num2)

30
20

In [21]:
num1+num2

50

In [23]:
print(30,20,'python')

30 20 python

In [27]:
a = 100
b = 200
c = a+b
# the addition of 100 and 200 is 300
print('the addition of',a,'and',b,'is',c)

the addition of 100 and 200 is 300

In [31]:
name='python'
age=10
city='Hyd'
# My name is python i'm 10 years old and from Hyd
print('My name is',name,'im',age,'years old and from',city)

My name is python im 10 years old and from Hyd

# Format methon

In [39]:
a = 100
b = 200
c = a+b
# the addition of 100 and 200 is 300
print('the addition of 100 and 200 is 300')
print('the addition of {} and {} is {}'.format(a,b,c))

the addition of 100 and 200 is 300
the addition of 100 and 200 is 300

In [47]:
name='python'
age=10
city='Hyd'
# My name is python i'm 10 years old and from Hyd
print('My name is',name,'im',age,'years old and from',city)
print('My name is {} im {} years old and from {}'.format(name,age,city))
print('My name is {} im {} years old and from {}'.format(city,age,name))

My name is python im 10 years old and from Hyd
My name is python im 10 years old and from Hyd
My name is Hyd im 10 years old and from python

In [51]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
mul1=n1*n2
div=n1/n2
print('the addition of {} and {} is {}'.format(n1,n2,n1+n2))
print('the substraction of {} and {} is {}'.format(n1,n2,n1-n2))
print('the multiplication of {} and {} is {}'.format(n1,n2,n1*n2))
print('the division of {} and {} is {}'.format(n1,n2,n1/n2))

the addition of 100 and 200 is 300
the substraction of 100 and 200 is -100
the multiplication of 100 and 200 is 20000
the division of 100 and 200 is 0.5

# F string

In [55]:
a = 100
b = 200
c = a+b
# the addition of 100 and 200 is 300
print('the addition of',a,'and',b,'is',c)
print('the addition of {} and {} is {}'.format(a,b,c))
print(f'the addition of {a} and {b} is {c}.')

the addition of 100 and 200 is 300
the addition of 100 and 200 is 300
the addition of 100 and 200 is 300.

In [58]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
mul1=n1*n2
div=n1/n2
print(f'the addition of {n1} and {n2} is {n1+n2}')
print(f'the substraction of {n1} and {n2} is {n1-n2}')
print(f'the multiplication of {n1} and {n2} is {n1*n2}')
print(f'the division of {n1} and {n2} is {n1/n2}')

the addition of 100 and 200 is 300
the substraction of 100 and 200 is -100
the multiplication of 100 and 200 is 20000
the division of 100 and 200 is 0.5

- we have a situation wants to combine two print statements

In [63]:
print('Hello')
print('good morning')
print('Hai')

# Hello good morning

Hello
good morning
Hai

In [65]:
print('Hello good morning')

Hello good morning

$end$

In [82]:
print(20,end='***')
a=30
print(30)
print(a)

20***30
30

In [85]:
print(1,end=' ')
print(2,end=' ')
print(3)

1 2 3

In [89]:
print(20,'****',30)

20 **** 30

In [91]:
print(20,end='****')
print(30)

20****30

- We want to separate the multiple variables in one print statement

In [98]:
print(20,'---->',30)

20 ----> 30

$sep$

In [107]:
print(20,30,50,sep='=')

20=30=50

- end operator used to combine multiple print statements

- sep operator used to separate the multiple variables in a single print statements

In [110]:
print('the addition of 3+4 is',3+4,'.')

the addition of 3+4 is 7 .

In [114]:
print(f'the addition of {3+4} is {7}')

the addition of 7 is 7

In [120]:
print(the addition of,sep='3+4')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2531781535.py, line 1)