In [1]:
import os
os.getcwd()

# Get Current Working Directory (cwd)

'C:\\Users\\satyabrata\\Python Programming'

## Variables

1. Variables are used to store the values, and the values can be change
2. Variable are case sensitive

In [15]:
num = 100
# esc+m
# shift+enter
# Value 100 store in a variable called : num
print(num)

100

In [17]:
num = 200
print(num)

200

In [19]:
NUMBER = 200
NUMBER

200

In [21]:
number = 300
number

300

In [23]:
number,NUMBER

(300, 200)

In [28]:
number123=300
number123

300

In [30]:
123number=400
123number

SyntaxError: invalid decimal literal (359278068.py, line 1)

In [36]:
number # Work 
NUMBER # work
number123 # work
123number # Notwork
number$one # NW
number&one # NW
number*one # NW
number_one # work 
if = 100 # NW
_=200 # # work

300

In [42]:
NUMBERone = 500
NUMBERone

500

In [44]:
number$one = 600
number$one

SyntaxError: invalid syntax (4227115244.py, line 1)

In [48]:
number&one = 600
number&one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1679305489.py, line 1)

In [50]:
number*one=900
number*one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1987472248.py, line 1)

In [52]:
number_one = 1000
number_one

1000

In [54]:
if =600
if

SyntaxError: invalid syntax (570416339.py, line 1)

In [ ]:
if
else
True
False
for
while

- variables can be capital letters
- variables can be a small letter
- variables can be a mix of both capital and small letters
- variables can be a mix of letter and numbers as **suffix**
- variables can not be a mix of letters and numbers as **prefix**
- variables can not be include special characters except **underscore**
- variables can not be include a **space between words**
- only underscore also consider as variables 
- inbuilt keywords can not be a variables

In [57]:
_=600
_

600

In [59]:
IF = 200

In [61]:
IF

200

In [63]:
model_accuracy_data=0.6
model_accuracy_data

0.6