- intilaization
  
- inbulit funtions

- min

- max

- len

- sorted

- revered

- print

- type

- index operations (for loop range vs in)

- mutable vs immutable

- concatenation

- slicing

- list methods

- strings denoted with quotes

- list denoted with square brackets

- list means array of elements

- list can access any data type to gether

In [3]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [5]:
type(l1)

list

In [19]:
l2=['A','B','C']
l2

['A', 'B', 'C']

In [21]:
l3=[1,2,3,4,'A','B','C']
l3

[1, 2, 3, 4, 'A', 'B', 'C']

In [ ]:
# create as many as lists witth different ways means different data types

In [27]:
l4=[10,20,30,'Apple','Banana','Cherry',True,False,10.5,20.5,20+30j]
l4
# list can represnt with any data types

[10, 20, 30, 'Apple', 'Banana', 'Cherry', True, False, 10.5, 20.5, (20+30j)]

In [29]:
l5=[10,10,10]
l5
# Duplicates are allowed

[10, 10, 10]

In [31]:
l6=[10,20,30,['A','B','C']]
l6

[10, 20, 30, ['A', 'B', 'C']]

In [33]:
l7=[]
l7

[]

In [7]:
l8=[_]
l8
# _ underscore means a variable

['{"dataframes": [], "user": "satyabrata"}']

In [9]:
[python] # error
[_] # answer

NameError: name 'python' is not defined

In [11]:
l1=[1,2,3,4]
l2=['A','B','C']
l3=[1,2,3,4,'A','B','C',]
l4=[10,20,30,'Apple','Banana','Cherry',True,False,10.5,20.5,20+30j]
l5=[10,10,10]
l6=[10,20,30,['A','B','C']]
l7=[]

- List can access with square brackets

- List can have any data type of elememts
    - Heterogeneous
- List can have duplicates

- List in List is possible

- Empty List can also possibile

- The values inside list is called as elements

In [14]:
len(l1),len(l2),len(l3),len(l4),len(l5),len(l6),len(l7)

(4, 3, 7, 11, 3, 4, 0)

In [16]:
l1

[1, 2, 3, 4]

In [18]:
min(l1),max(l1)

(1, 4)

In [20]:
l2

['A', 'B', 'C']

In [22]:
min(l2),max(l2)

('A', 'C')

In [24]:
l3

[1, 2, 3, 4, 'A', 'B', 'C']

In [26]:
min(l3)
# same data type should be compare
# 'A' ==== some level
#  1 ==== some level (not happend)

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
l4
# min max fail

[10, 20, 30, 'Apple', 'Banana', 'Cherry', True, False, 10.5, 20.5, (20+30j)]

In [30]:
l5

[10, 10, 10]

In [34]:
min(l5),max(l5)

(10, 10)

In [36]:
l6

[10, 20, 30, ['A', 'B', 'C']]

In [38]:
chr(10)

'\n'

In [40]:
chr([])

TypeError: 'list' object cannot be interpreted as an integer

In [42]:
ord([])

TypeError: ord() expected string of length 1, but list found

In [44]:
min(l6)

TypeError: '<' not supported between instances of 'list' and 'int'

In [46]:
min(l7),max(l7)

ValueError: min() iterable argument is empty

In [52]:
min([])

ValueError: min() iterable argument is empty

In [54]:
len([]),len([100]),len([''])
# is list  has element

(0, 1, 1)

In [56]:
min(['','a'])

''

In [62]:
# sir y list([100]) is 1???
[100] # 1
[1,0,0] # 3
['100'] # 1 
len('1000') # 3

4

In [64]:
min(['','a'])
# '' 32
# 'a' 97

''

In [ ]:
# sir chars also have ascii values 
# why they cannot be compared with numbers 
# if we do min or max comaparison with list 
# containing hetrogeneous data type i.e char and string?

# Rule: strings and number can not compare

10 with 'A'
10 L0 ===== No other level
'A' ==== > 65 L1
'B' ===== > 66 L1

In [66]:
l1 # w
l2 # w
l3 # Hetero  NW
l4 # NW
l5 # W
l6 # NW
l7

[]

In [68]:
sorted([])
# empty list means
# does not has any elements

[]

In [76]:
min([])

ValueError: min() iterable argument is empty

In [80]:
reversed(l1)

In [82]:
for i in reversed(l1):
    print(i)

4
3
2
1

In [84]:
list(reversed(l1))

[4, 3, 2, 1]

In [86]:
[reversed(l1)]

In [88]:
l2

['A', 'B', 'C']

In [90]:
list(reversed(l3))

['C', 'B', 'A', 4, 3, 2, 1]

In [92]:
l5

[10, 10, 10]

In [94]:
l6

[10, 20, 30, ['A', 'B', 'C']]

In [96]:
list(reversed(l6))

[['A', 'B', 'C'], 30, 20, 10]

- sorted will compare the elements

- the same rules applicable for min and max

- sorted never return any error eventhough we have an empty list

- min and max will give error if it has empty list

- Reveresed only do reveres elements

In [ ]:
min/max/sorted/reveresed/len

**sum**

In [102]:
sum([100,200,300])

600

In [104]:
sum(['A','B','C'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [106]:
sum([10,20,30],start=100)

160

In [108]:
sum=100
sum=sum+i

In [114]:
sum([])

TypeError: 'int' object is not callable

**index**

In [ ]:
l1=[1,2,3,4,'A','B','C']
 # -7  -6  -5  -4  -3  -2  -1
 #[1,   2,  3,  4, 'A','B','C']
 # 0    1   2   3   4   5   6

In [121]:
l1[0],l1[-7]

IndexError: list index out of range

In [ ]:
# by using for loop print the postive index
# by using for loop print the negative index
# by using for loop print both postive and negtaive index

In [133]:
l1=[10,20,30,40,'A','B','C']
for i in range(len(l1)):
    print(f"the postive index of {l1[i]} is:{i}")
    print(f"the negative index of {l1[i]} is:{i-len(l1)}")
    printprint(f"the postive index of {l1[i]} is:{i} and negative index is: {i-len(l1)})
    print("========================================")

SyntaxError: unterminated f-string literal (detected at line 5) (3062954840.py, line 5)

In [135]:
l=[10,20,30]
l[0]

10

In [137]:
l=[[10,20,30]]
# how to access the 10
len(l)

1

In [141]:
l=[
    [10,20,30]
]
# how many elements are there in a list: 1 element
len(l)
l[0][0],l[0][1],l[0][2]

(10, 20, 30)

In [143]:
l1=[10,20,['A','B']]
# retrive the A 
# how many elements are there : 3
len(l1)
# how can we access 0,1,2
l1[2][0]

'A'

In [145]:
l1=[1,2,3,4,[5,6,['Apple']]]
l1[4][2][0]

'Apple'

In [147]:
l1=[1,2,3,[4,[5,['cherry']]]]
len(l1)
l1[3][1][1][0]

'cherry'

In [149]:
l1=[[[[[[[[['onion']]]]]]]]]
l1[0][0][0][0][0][0][0][0][0]

'onion'

In [151]:
l1=['Apple',['Kashmir',['India',['Mumbai',['Sharuk',['Film',['DDLJ']]]]]]]
l1

['Apple', ['Kashmir', ['India', ['Mumbai', ['Sharuk', ['Film', ['DDLJ']]]]]]]

In [153]:
l1[1][1][1][1][1][1][0]

'DDLJ'

**mutable vs immutable**

In [156]:
str1='welcome'
str1[2]='L'
str1

TypeError: 'str' object does not support item assignment

In [158]:
l1=['w','e','l','c','o','m','e']
l1[2]='L'
l1

['w', 'e', 'L', 'c', 'o', 'm', 'e']

- we can change the list elements using index

In [161]:
s1='hello'
s2='welcome'
s1+s2

'hellowelcome'

In [163]:
s1*s2 # fail
s1-s2 # fail

TypeError: can't multiply sequence by non-int of type 'str'

In [165]:
s1*2

'hellohello'

In [167]:
l1=['h','e','l','l','o']
l2=['w','e','l','c','o','m','e']
l1+l2

['h', 'e', 'l', 'l', 'o', 'w', 'e', 'l', 'c', 'o', 'm', 'e']

In [169]:
l1*l2 # error
l1-l2 # error
l1/l2 # error

TypeError: can't multiply sequence by non-int of type 'list'

In [171]:
l1*2

['h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o']

**slicing**

In [176]:
l1=[1,2,3,4,5,'A','B','C','D','10.5',True,10.5,100,200]
l1[:] # same list  1
l1[::] # same list 2
l1[::-1] # reverse list 3
l1[2:14:2] # w 4
l1[2:14:-2] #nw 5
l1[2:-14:2] # check this (nw) 6
l1[-2:14:2] # check this (w) 7
l1[-2:-14:-2] # works  8
l1[14:2:2] # nw  9
l1[14:2:-2] # w  10
l1[14:-2:2] # check  this (nw) 11
l1[-14:2:2] # check this (w)  12
l1[-14:-2:-2] # check this (nw) 13

[]

**methods**

In [179]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [181]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [183]:
l1=[10,20,30,40]
l1

[10, 20, 30, 40]

In [ ]:
############### inbuilt functions ##############
print()
max()
min()
################## Methods ###################
l1.<method_name>()
method_name(l1) # MISTAKE

**clear**

In [192]:
l1=[10,20,30,40]
l1.clear()

In [188]:
l1

[]

**copy**

In [195]:
l1=[10,20,30,40]
l2=l1.copy()
l1.clear()
print('l2:',l2)
print('l1:',l1)

l2: [10, 20, 30, 40]
l1: []

**reverse vs reversed**

- reversed is a inbuilt function

- reversed can be applicable all **iterable**

- reversed applicable for **strings,list,tuple,dict etc**

- reversed(string), revrsed(list),reversed(tuple) etc

**reverse**

- reverse is a method is belongs to only list

- reverse method can not applicable to strings, tuple and dict

- list.reverse()

In [201]:
l1=[10,20,30,40,'A','B','C']
l1.reverse()
l1
# reverse the elements save the output in same variable
# it is indicates as **INPLACE**
# some times inplace=True avaialbel

['C', 'B', 'A', 40, 30, 20, 10]

In [203]:
str1='hello how are you'
str1.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [205]:
list(reversed(str1))
list(reversed(l1))

[10, 20, 30, 40, 'A', 'B', 'C']

In [207]:
l1.reverse() # answer
str1.reverse() # error

AttributeError: 'str' object has no attribute 'reverse'

**sort vs sorted**

In [211]:
type([])  # do not give list as variable

list

In [217]:
list1=[19,25,3,45,5]
list1.sort()
list1

[3, 5, 19, 25, 45]

In [219]:
list1=[19,25,3,45,5]
list1.sort(reverse=True)
list1

[45, 25, 19, 5, 3]

In [221]:
sorted(list1)

[3, 5, 19, 25, 45]

In [ ]:
sorted(string) # works
sorted(list) # works

list.sort() # works
string.sort() # fail

**append**

- append means add an element at the end of the list

- append is a method very important

- append is used to store the outputs in a list

- till last class we just printed all the outputs

- if we want to save the outputs we need to do append only

- append method we will use very very frequently

In [226]:
# empty list
l1=[]
l1.append(10)
l1

[10]

In [228]:
l1=[1,2,3]
l1.append('apple')
l1

[1, 2, 3, 'apple']

In [230]:
l1=[1,2,3,4]
l1.append('apple')
l1.append('banana')
l1.append([True,False])
l1

[1, 2, 3, 4, 'apple', 'banana', [True, False]]

In [232]:
#Q1) create a list of 10 numbers using for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [234]:
l1=[]
l1.append(1)
l1.append(2)
l1.append(3)

l1.append(i)

In [240]:
l1=[]
for i in range(10):
    l1.append(i)
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [244]:
# Q2) wap ask the user get 5 random numbers
#     perform the square of the random numbers
#     save in a list
import random
l=[]
for i in range(5):
    num=random.randint(1,100)
    l.append(num*num)
l

[3364, 3249, 36, 9, 3025]

In [248]:
import random
l=[]
for i in range(5):
    num=random.randint(1,100)
    l.append(f"{num}:{num*num}")
l

['72:5184', '91:8281', '53:2809', '33:1089', '25:625']

In [254]:
# Q3) list1=[100,20,27,38,47,52,87]
# using this we need to extract even and odd numbers
# even_list=[20.38,52,100] the output should be sorted
# odd_list=[27,47,38,87] the output should be sorted
list1=[100,20,27,38,47,52,87]
even_list,odd_list=[],[]
for i in list1:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
even_list.sort()
odd_list.sort()
even_list,odd_list

([20, 38, 52, 100], [27, 47, 87])

In [256]:
# Q4)  l1=['hyd','chennai','mumbai','pune']
#     ans=['Hyd','Chennai','Mumabi','Pune']
l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append(i.capitalize())
ans

['Hyd', 'Chennai', 'Mumbai', 'Pune']

In [3]:
#Q5)  l1=['hyd','chennai','mumbai','pune']
#     ans=['HYD','CHENNAI','MUMBAI','PUNE']
l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append(i.upper())
ans

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [7]:
#Q6)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['chen#ai','mu#bai']
l1=['hyd','chen#ai','mu#bai','pune']
ans1=[]
ans2=[]
for i in l1:
    if '#' in i:
        ans1.append(i)
    if '#' not in i:
        ans2.append(i)
ans1 ,ans2

(['chen#ai', 'mu#bai'], ['hyd', 'pune'])

In [9]:
#Q8) str1= 'hello hai how are you'
#    ans=['Hello','Hai','How','Are','You']

str1= 'hello hai how are you'
str1.title().split()

['Hello', 'Hai', 'How', 'Are', 'You']

In [11]:
str1= 'hello hai how are you'
l=str1.split()
ans=[]
for i in l:
    ans.append(i.capitalize())
ans

['Hello', 'Hai', 'How', 'Are', 'You']

In [13]:
' '.join(ans)

'Hello Hai How Are You'

**joining the list of elements**

- we can convert string to list by using **string.split**

- we can convert list to string by using **join(list)**

In [17]:
str1='hai how are you'
str1.split('h')

['', 'ai ', 'ow are you']

In [19]:
l1=['hai', 'how', 'are', 'you']
str1=' '
str1.join(l1)
'h'.join(l1)

'haihhowharehyou'

In [21]:
str1='virat.kohli@rcb.com; rohit.sharma@mi.com; dhoni.ms@csk.com'
l=str1.split(';')
f_name,s_name,c_name=[],[],[]
for i in l:
    first_dot=i.find('.')
    second_dot=i.find('.',first_dot+1)
    at_index=i.find('@')
    f_name.append(i[:first_dot])
    s_name.append(i[first_dot+1:at_index])
    c_name.append(i[at_index+1:second_dot])

['virat', ' rohit', ' dhoni']

In [23]:
f_name

['virat', ' rohit', ' dhoni']

In [25]:
l[0],l[1],l[2]
for i in l:
    print(i)

virat.kohli@rcb.com
 rohit.sharma@mi.com
 dhoni.ms@csk.com

In [48]:
# q10) get the 7 random numbers in a list between 1 to 100
#      find the min and max value with out using min and max function

import random

l=[]
for i in range(7):
    num=random.randint(1,100)
    l.append(num)

l

[23, 11, 28, 27, 61, 82, 89]

- Assume that first value is a maximum value

- then iterate the loop from next value onwards

- apply the condition if any value greater than assumed value

- then replace max value with itertaed value

In [57]:
max_val=l[0]
for i in l[1:]:
    if i>max_val:
        max_val=i
print('max_val:',max_val)

max_val: 89

In [59]:
max_val=l[0]
for i in l[1:]:
    if i>max_val:
        max_val=i
print('max_val:',max_val)

max_val: 89

In [65]:
min_val=l[0]
for i in l[1:]:
    if i<min_val:
        min_val=i
print('min_val:',min_val)

min_val: 11

In [67]:
# q11) str1='can canner can not can you canner can be can you can not'
#      list=['can-6','canner-2','not-2','you-2','be-1']

str1='can canner can not can you canner can be can you can not'
l=str1.split()
print(l)
l2=[]
for i in l:
    if i not in l2:
        print(i,l.count(i))
        l2.append(i)

['can', 'canner', 'can', 'not', 'can', 'you', 'canner', 'can', 'be', 'can', 'you', 'can', 'not']
can 6
canner 2
not 2
you 2
be 1

In [69]:
str1='can canner can not can you canner can be can you can not'
l=str1.split()
print(l)

['can', 'canner', 'can', 'not', 'can', 'you', 'canner', 'can', 'be', 'can', 'you', 'can', 'not']

In [71]:
l1=[]
l2=[]
for i in l:
    if i not in l2:
        l2.append(i)
        l1.append(f"{i}-{l.count(i)}")
l1

['can-6', 'canner-2', 'not-2', 'you-2', 'be-1']

In [ ]:
# q12) qns= ['who is pm of india','who is ICT captain',
#             'what is the capital of india']
#      ans=['modi','rohit','delhi']
#     step-1: iterate through each qn
#     step-2: user will enter the answer
#           check-1: the user given 'MODI' correct answer
#           check-2: qn index and ans index should be
#    step-3: count_marks=0 at the top
#    step-4:  for every correct answer 1 marks
#    step-5: how many correct answers and how many marks

In [77]:
qns= ['who is pm of india','who is ICT captain','what is the capital of india']
ans=['modi','rohit','delhi']
count=0
for i in range(len(qns)):
    ANSWER=input(qns[i])
    if ANSWER.lower()==ans[i].lower():
        count=count+1
print("The total correct answer:",count)

who is pm of india Narendra Modi
who is ICT captain Rohit Sharma
what is the capital of india Delhi

The total correct answer: 1

**pop vs remove**

In [80]:
l=[100,200,300,'A','B','C']

In [82]:
l.pop()
# pop will remove the element based on index
# if we dont give any index by default it wlill remove last value
# the default value index=-1

'C'

In [84]:
l

[100, 200, 300, 'A', 'B']

In [86]:
l=[100,200,300,'A','B','C']
l.pop(2)
l

[100, 200, 'A', 'B', 'C']

In [88]:
l=[100,200,300,'A','B','C']
l.pop(200)
# what will return as output
# [100,200,'A','B','C']    300

IndexError: pop index out of range

In [90]:
l=[100,200,300,100,100,'A','B','C']
l.remove(100)
l

[200, 300, 100, 100, 'A', 'B', 'C']

- pop except a **index value**

- remove expect a **value**

In [95]:
l=[100,200,300,100,100,'A','B','C']
# i want to remove the second 100
# remove or pop ==== 
# sukumar and kaif by using remove tell me
# how can you remove the second 100
l.pop()

100

In [97]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**index**

In [ ]:
l=[100,200,300,100,100,'A','B','C']

# pop is correct answer
# pop wants a index
# here only 8 elements are there, so we are able to count
# imagine that there 80k elemnents so we are not ablle to count
# when you are counting and giving: hard coded
# python code should give the answer automatically
# for that we need to use index method

In [100]:
l=[100,200,300,100,100,'A','B','C']
i1=l.index(100)
i2=l.index(100,i1+1)
l.pop(i2)
l

[100, 200, 300, 100, 'A', 'B', 'C']

In [102]:
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [104]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**Extend**

- difference between concatenation vs append vs extend

In [1]:
l1=[1,2,3,4]
l2=['A','B','C']
l1.append(l2)

In [3]:
l1

[1, 2, 3, 4, ['A', 'B', 'C']]

In [5]:
l1=[1,2,3,4]
l2=['A','B','C']
l1+l2

[1, 2, 3, 4, 'A', 'B', 'C']

In [7]:
l1,l2

([1, 2, 3, 4], ['A', 'B', 'C'])

In [9]:
l1=[1,2,3,4]
l2=['A','B','C']
l1.extend(l2)
l1

[1, 2, 3, 4, 'A', 'B', 'C']

In [11]:
l1=[1,2,3,4]
l2=['A','B','C']
l3=l1+l2
l3

[1, 2, 3, 4, 'A', 'B', 'C']

In [13]:
l1=[1,2,3,4]
l2=['A','B','C']
l2.extend(l1)
l2,l1

(['A', 'B', 'C', 1, 2, 3, 4], [1, 2, 3, 4])

In [15]:
l1=['Hardeep']
l2=['Mrs Hardeep']
l1+l2  # adding you and yours
l1     # only you coming
l1.extend(l2) # adding you and yours
l1    # both will come

['Hardeep', 'Mrs Hardeep']

- extend and conatenation both has same behaviour

- means add the two lists

- but extend will overwrite the list

**insert**

- Difference between insert and append

In [20]:
l1=[1,2,3,'A','B','C']
l1.append(1000)
l1

[1, 2, 3, 'A', 'B', 'C', 1000]

In [22]:
l1=[1,2,3,'A','B','C']
#   0 1 2  3   4   5
#   1,2,3,1000,'A','B','C'
l1.insert(3,1000)
# i want to inster 1000 before=3 (at 2)
l1

[1, 2, 3, 1000, 'A', 'B', 'C']

In [24]:
l1=[1,2,3,'A','B','C']
# i want inster 1000 before 'B'
i1=l1.index('B')
l1.insert(i1,1000)
l1

[1, 2, 3, 'A', 1000, 'B', 'C']

In [26]:
l1=[1,2,3,'A','B','C']
for i in range(len(l1)):
    if i =="B":
        print(i)
l1.insert(i,1000)

In [30]:
# wap ask the user add the elements of the lists
#  l1=[100,200,300]
#  l2=[10,20,30]
#  ans=[110,220,330]
l1=[100,200,300]
l2=[10,20,30]
l1[0]+l2[0] # 100+10=110
l1[1]+l2[1] # 200+20=220
l1[2]+l2[2] # 300+30=330

330

In [32]:
# wap ask the user add the elements of the lists
#  l1=[100,200,300]
#  l2=[10,20,30]
#  ans=[110,220,330]
l1=[100,200,300]
l2=[10,20,30]
l1[0]+l2[0] # 100+10=110
l1[1]+l2[1] # 200+20=220
l1[2]+l2[2] # 300+30=330

330

In [34]:
ans=[]
for i in range(len(l1)):
    ans.append(l1[i]+l2[i])
ans

[110, 220, 330]

In [36]:
l1=[100,200,300,400]
l2=[10,20,30]
ans=[110,220,330,400]

# iterate the loop with max length iterations
# if l2 values avaialbe then add those
# otherwise append l1 value into ans list
len1=len(l1)
len2=len(l2)
max_val=max(len1,len2)
ans=[]
for i in range(max_val):
    if i < len(l2):
        ans.append(l1[i]+l2[i])
    else:
        ans.append(l1[i])
ans

[110, 220, 330, 400]

**Distance between two points**

In [ ]:
d=root([x2-x1]**2+[y2-y1]**2)

# step-1:  l1=[2,5]  l2=[4,9]
#              x1,y2     x2,y2
# step-2:    d1=x2-x1       d2=y2-y1
# step-3:    (x2-x1)**2   (y2-y1)**2
# step4:     d=d1^2 +d2^2
# step

In [ ]:
# wap
#a=[(1,3),(7,8),(2,6),(9,3)]
#b=(5,9)
# find the max and min distance points
# a=[(1,3),(7,8),(2,6),(9,3),(2,9),(10,12)]
# find all the distances among the points
# (1,3) with all other data points
# (7,8) with all
# and so on

In [43]:
import math
l1=[2,5]  
l2=[4,9]
#############################
x1=l1[0]
y1=l1[1]
x2=l2[0]
y2=l2[1]
############################
d1=(x2-x1)
d2=(y2-y1)
##############################
d=d1**2+d2**2
math.sqrt(d)

4.47213595499958

In [45]:
l1=[2,5]  
l2=[4,9]
math.sqrt((l2[0]-l1[0])**2+(l2[1]-l1[1])**2)

4.47213595499958

In [49]:
a=[(1,3),(7,8),(2,6),(9,3)]
b=(5,9)

math.sqrt((b[0]-l1[0])**2+(b[1]-l1[1])**2)
for i in a:
    l1=i
    print(math.sqrt((b[0]-l1[0])**2+(b[1]-l1[1])**2))

7.211102550927978
2.23606797749979
4.242640687119285
7.211102550927978

In [51]:
a=[(1,3),(7,8),(2,6),(9,3),(2,9),(10,12)]
a[1:] # (7,8),(2,6),(9,3),(2,9),(10,12)
# we want 1,3  with 7,8
#         1,3  with 2,6
for i in a:
    print(i)  # i = 1,3   7,8  2,6
    for j in a[1:]:
        print(i,j)

# i=1,3    j=7,8
# i=1,3    j=2,6

(1, 3)
(1, 3) (7, 8)
(1, 3) (2, 6)
(1, 3) (9, 3)
(1, 3) (2, 9)
(1, 3) (10, 12)
(7, 8)
(7, 8) (7, 8)
(7, 8) (2, 6)
(7, 8) (9, 3)
(7, 8) (2, 9)
(7, 8) (10, 12)
(2, 6)
(2, 6) (7, 8)
(2, 6) (2, 6)
(2, 6) (9, 3)
(2, 6) (2, 9)
(2, 6) (10, 12)
(9, 3)
(9, 3) (7, 8)
(9, 3) (2, 6)
(9, 3) (9, 3)
(9, 3) (2, 9)
(9, 3) (10, 12)
(2, 9)
(2, 9) (7, 8)
(2, 9) (2, 6)
(2, 9) (9, 3)
(2, 9) (2, 9)
(2, 9) (10, 12)
(10, 12)
(10, 12) (7, 8)
(10, 12) (2, 6)
(10, 12) (9, 3)
(10, 12) (2, 9)
(10, 12) (10, 12)